extends ../layout

block content
  h1 #{title} 
  if paciente
    h3.mt-3 Paciente: #{paciente.nombre} #{paciente.apellido} (DNI: #{paciente.dni}) 
  else if paciente_id
    p.text-warning Detalles del paciente no cargados completamente, pero la admisión puede ser registrada para el Paciente ID: #{paciente_id}. 
  else
    p.text-danger Error crítico: ID del paciente no disponible para la admisión. Por favor, regrese. 

  
  if errors && errors.length > 0
    div.alert.alert-danger.mt-3
      h4 Errores: 
      ul
        each error in errors
          li= error.msg 
  form(method="POST" action="/admisiones")
    
    input(type="hidden" name="paciente_id" value=paciente_id || (paciente ? paciente.id : ''))

    div.form-group.mt-3
      label(for="tipo_admision") Tipo de Admisión:
      select#tipo_admision.form-control(name="tipo_admision" required)
        option(value="" selected=!(datosAdmision && datosAdmision.tipo_admision)) -- Seleccione Tipo -- 
        option(value="Programada" selected=(datosAdmision && datosAdmision.tipo_admision === 'Programada')) Programada
        option(value="Derivación Médica" selected=(datosAdmision && datosAdmision.tipo_admision === 'Derivación Médica')) Derivación Médica
        option(value="Emergencia" selected=(datosAdmision && datosAdmision.tipo_admision === 'Emergencia')) Emergencia

    div.form-group.mt-3
      label(for="medico_referente") Médico Referente:
      select.form-control(name="medico_referente" id="medico_referente" required)
        option(value="" selected disabled) Selecciona un médico
        option(value="Dr. Juan Pérez") Dr. Juan Pérez
        option(value="Dra. Ana Gómez") Dra. Ana Gómez
        option(value="Dr. Carlos Ruiz") Dr. Carlos Ruiz
        option(value="Dra. Laura Fernández") Dra. Laura Fernández
        option(value="Dra. Orellano Mayra") Dra. Orellano Mayra
        option(value="Dr. Martínez") Dr. Martínez
        option(value="Dr. López") Dr. López 
        option(value="Dr. García") Dr. García
        option(value="Dr. Sánchez") Dr. Sánchez
    div.form-group.mt-3
      label(for="diagnostico_inicial") Diagnóstico Inicial:
      textarea#diagnostico_inicial.form-control(name="diagnostico_inicial" rows="3") #{datosAdmision && datosAdmision.diagnostico_inicial ? datosAdmision.diagnostico_inicial : ''}

    button(type="submit" class="btn btn-primary mt-3") Registrar Admisión 
    a(href=`/pacientes/${paciente_id || (paciente ? paciente.id : '')}` class="btn btn-secondary mt-3 ml-2") Cancelar y Volver al Paciente